.content {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.background {
    margin-top: 80px;
    height: 95vh;
    position: fixed;
    left: 0;
}

.info {
    margin-top: 150px;
    width: 60%;
    margin-right: 150px;
    color: #fff;
}

.profile {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 20px;
    border-radius: 15px;
    max-width: 700px;
    width: 100%;
  }
  
.profile img.profile-img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 3px solid #fff;
}
  
.profile div {
    color: #fff;
}
  
.profile h3 {
    margin: 0;
    font-size: 1.5rem;
}

h4 {
    font-size: 1.5rem;
    margin-bottom: 40px;
}
  
.profile p.description {
    margin: 5px 0 0 0;
    color: #ccc;
    margin-top: 20px;
}

.profile div span {
    display: block;
    margin-top: 10px;
}

.fade-in {
    opacity: 0;
    transform: translateY(-10px);
    animation: fadeIn 0.5s ease-in-out forwards;
  }
  
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
  